<p id="notice"><%= notice %></p>

<p>
  <strong>Config formulario:</strong>
  <%= @formulario.config_formulario_id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @formulario.empresa_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @formulario.area_id %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @formulario.departamento_id %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @formulario.seccion_id %>
</p>

<p>
  <strong>Subseccion:</strong>
  <%= @formulario.subseccion_id %>
</p>

<p>
  <strong>Labor oracle:</strong>
  <%= @formulario.labor_oracle_id %>
</p>

<p>
  <strong>Labor madre:</strong>
  <%= @formulario.labor_madre_id %>
</p>

<p>
  <strong>Ot:</strong>
  <%= @formulario.ot_id %>
</p>

<p>
  <strong>Fecha inicio ejecucion:</strong>
  <%= @formulario.fecha_inicio_ejecucion %>
</p>

<p>
  <strong>Fecha fin ejecucion:</strong>
  <%= @formulario.fecha_fin_ejecucion %>
</p>

<p>
  <strong>Coord latitud:</strong>
  <%= @formulario.coord_latitud %>
</p>

<p>
  <strong>Coord longitud:</strong>
  <%= @formulario.coord_longitud %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @formulario.empleado_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @formulario.usuario_id %>
</p>

<p>
  <strong>Fecha sincronizacion:</strong>
  <%= @formulario.fecha_sincronizacion %>
</p>

<p>
  <strong>User created:</strong>
  <%= @formulario.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @formulario.user_updated_id %>
</p>

<p>
  <strong>Usr grab:</strong>
  <%= @formulario.usr_grab %>
</p>

<p>
  <strong>Usr modi:</strong>
  <%= @formulario.usr_modi %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @formulario.estado %>
</p>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', formularios_path %>
