<tr class="nested-fields">
    <div class="text-center">
      <%= f.input :departamento_id, label: false, input_html: { class: 'form-control', disabled: false } %>
    </div>
    <div class="text-center">
      <%= f.input :seccion_id, label: false, input_html: { class: 'form-control' } %>
    </div>
    <div class="text-center">
      <%= f.input :subseccion_id, label: false, input_html: { class: 'form-control' } %>
    </div>
    <div class="text-center">
      <%= f.input :empleado_id, label: false, input_html: { class: 'form-control' } %>
    </div>
    <div class="text-center">
      <%= link_to_remove_association "Eliminar", f, class: "btn btn-danger" %>
    </div>
</tr>