<p id="notice"><%= notice %></p>

<h1>Asignacion Formularios</h1>

<table>
  <thead>
    <tr>
      <th>Config formulario</th>
      <th>Empresa</th>
      <th>Area</th>
      <th>Departamento</th>
      <th>Seccion</th>
      <th>Subseccion</th>
      <th>Empleado</th>
      <th>User created</th>
      <th>User updated</th>
      <th>Usr grab</th>
      <th>Usr modi</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacion_formularios.each do |asignacion_formulario| %>
      <tr>
        <td><%= asignacion_formulario.config_formulario_id %></td>
        <td><%= asignacion_formulario.empresa_id %></td>
        <td><%= asignacion_formulario.area_id %></td>
        <td><%= asignacion_formulario.departamento_id %></td>
        <td><%= asignacion_formulario.seccion_id %></td>
        <td><%= asignacion_formulario.subseccion_id %></td>
        <td><%= asignacion_formulario.empleado_id %></td>
        <td><%= asignacion_formulario.user_created_id %></td>
        <td><%= asignacion_formulario.user_updated_id %></td>
        <td><%= asignacion_formulario.usr_grab %></td>
        <td><%= asignacion_formulario.usr_modi %></td>
        <td><%= asignacion_formulario.estado %></td>
        <td><%= link_to 'Show', asignacion_formulario %></td>
        <td><%= link_to 'Edit', edit_asignacion_formulario_path(asignacion_formulario) %></td>
        <td><%= link_to 'Destroy', asignacion_formulario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacion Formulario', new_asignacion_formulario_path %>
