<p id="notice"><%= notice %></p>

<p>
  <strong>Config formulario:</strong>
  <%= @asignacion_formulario.config_formulario_id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @asignacion_formulario.empresa_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @asignacion_formulario.area_id %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @asignacion_formulario.departamento_id %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @asignacion_formulario.seccion_id %>
</p>

<p>
  <strong>Subseccion:</strong>
  <%= @asignacion_formulario.subseccion_id %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @asignacion_formulario.empleado_id %>
</p>

<p>
  <strong>User created:</strong>
  <%= @asignacion_formulario.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @asignacion_formulario.user_updated_id %>
</p>

<p>
  <strong>Usr grab:</strong>
  <%= @asignacion_formulario.usr_grab %>
</p>

<p>
  <strong>Usr modi:</strong>
  <%= @asignacion_formulario.usr_modi %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @asignacion_formulario.estado %>
</p>

<%= link_to 'Edit', edit_asignacion_formulario_path(@asignacion_formulario) %> |
<%= link_to 'Back', asignacion_formularios_path %>
