<!DOCTYPE html>
<html>
  <head>
    <title>AppDinamicsForms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- Incluye ambos si usas Sprockets y Webpacker -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
